﻿
@{
    ViewBag.Title = "ConfigOne";
}

<h2>ConfigOne</h2>

<script>
    $.getJSON('@ViewBag.WebsiteOne',null,
        function (data) {
            $('#Name').text(data.name);
        }
    );
    $.getJSON('@ViewBag.WebsiteTwo', null,
        function (data) {
            $('#Code').text(data.code);
        }
    );

</script>


    Response from web one is <h1>
    <label for="a" id="Name"></label>
</h1>
<br />
    Response from web two is <h1>
    <label for="a" id="Code"></label>
</h1>

